{% extends "layout.html" %}
{% block title %}Scribe{% endblock %}


{% block content %}

<!-- Jumbotron -->
<div class="jumbotron text-center mdb-color stylish-color-dark white-text mx-3 my-3">
  <!-- Title -->
  <h2 class="card-title h2">Welcome</h2>
  <!-- Grid row -->
  <div class="row d-flex justify-content-center">
    <!-- Grid column -->
    <div class="col-xl-7 pb-2">
      <p class="card-text">This website allows you to either upload an mp4 of your class lecture or enter the video link from a supported website, to get a transcription.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-4 rgba-white-light">

  <div class="pt-2">
    <a href="/upload" role="button" class="btn btn-outline-white">Get your notes  <i class="far fa-file-pdf"></i></a>
  </div>

</div>
<!-- Jumbotron -->

{% endblock %}
