{% extends "layout.html" %}
{% block title %}Scribe: Video Processing{% endblock %}


{% block content %}
<div class="mdb-color stylish-color-dark">
<div class="jumbotron text-center mdb-color stylish-color-dark white-text mb-0">
  <h2 class="card-title h2">Please Wait...</h2>
  <hr class="my-4">
  <p class="lead mb-0">Your video transcription will be ready soon.</p>
  <input type="hidden" id="filepath" name="filepath" value={{filepath}}>
  <div class="d-flex justify-content-center mdb-color stylish-color-dark white-text">
    <div class="spinner-border p-4 mt-5 mb-xl-5" style="width: 5rem; height: 5rem; role="status">
      <span class="sr-only">Processing...</span>
    </div>
  </div>
</div>

</div>
{% endblock %}
