{% extends "layout.html" %}
{% block title %}Scribe: Upload Media{% endblock %}


{% block content %}
<div class="container-lg">
<form method="POST" action="/upload" enctype="multipart/form-data" id='upload_form'>
  <div class="form-group">
    <label for="video_file">Upload your video</label>
    <input type="file" class="form-control-file" name="file" id="file" accept="video/*">
  </div>
  <div class="form-group">
  <label for="time_interval">Screenshot Time Interval (seconds)</label>
  <input type="range" id="time_interval" name="time_interval"
         min="10" max="120" value="45" step="5" onchange="updateTextInput(this.value, 'slider_label');">
  <p id="slider_label">45</p>
  <label for="translation">Select language translation:</label>
  <select id="translation" name="translation">
    <option value="ar">Arabic</option>
    <option value="zh-CN">Chinese</option>
    <option value="en" selected="selected">English</option>
    <option value="fr">French</option>
    <option value="de">German</option>
    <option value="hi">Hindi</option>
    <option value="ja">Japanese</option>
    <option value="es">Spanish</option>
    <option value="ru">Russian</option>
    <option value="sw">Swahili</option>
  </select>
</div>
  <button id="upload-submit" type="submit" value="Upload" class="btn btn-primary">Submit</button>
</form>

<div>
  <hr class="my-4">
</div>

<form method="POST" action="/upload-from-url" id='upload_form_from_url'>
  <div class="form-group">
    <label for="video_file">Choose video from Youtube or media.oregonstate.edu</label>
    <input type="text" class="form-control-file" name="video_url" id="video_url" required>
  </div>
  <div class="form-group">
  <label for="time_interval">Screenshot Time Interval (seconds)</label>
  <input type="range" id="time_interval" name="time_interval"
         min="10" max="120" value="45" step="5" onchange="updateTextInput(this.value, 'slider_label_web');">
  <p id="slider_label_web">45</p>
  <label for="translation">Select language</label>
  <select id="translation" name="translation">
    <option value="ar">Arabic</option>
    <option value="zh-CN">Chinese</option>
    <option value="en" selected="selected">English</option>
    <option value="fr">French</option>
    <option value="de">German</option>
    <option value="hi">Hindi</option>
    <option value="ja">Japanese</option>
    <option value="es">Spanish</option>
    <option value="ru">Russian</option>
    <option value="sw">Swahili</option>
  </select>
</div>
  <button id="upload-from-url" type="submit" value="Upload" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
