{% extends "layout.html" %}
{% block title %}Upload Media{% endblock %}


{% block content %}
<div class="container-lg">
<form method="POST" action="/upload" enctype="multipart/form-data" id='upload_form'>
  <div class="form-group">
    <label for="video_file">Upload your video</label>
    <input type="file" class="form-control-file" name="file" id="file" accept="video/*">
  </div>
  <div class="form-group">
  <label for="time_interval">Screenshot Time Interval (seconds)</label>
  <input type="range" id="time_interval" name="time_interval"
         min="10" max="120" value="45" step="5" onchange="updateTextInput(this.value);">
  <p id="slider_label">45</p>
</div>
  <button id="upload-submit" type="submit" value="Upload" class="btn btn-primary">Submit</button>
</form>

<div>
  <hr class="my-4">
</div>

<form method="POST" action="/upload-from-url" id='upload_form_from_url'>
  <div class="form-group">
    <label for="video_file">Choose video from Youtube or Oregon State University</label>
    <input type="text" class="form-control-file" name="video_url" id="video_url">
  </div>
  <div class="form-group">
  <label for="time_interval">Screenshot Time Interval (seconds)</label>
  <input type="range" id="time_interval" name="time_interval"
         min="10" max="120" value="45" step="5" onchange="updateTextInput(this.value);">
  <p id="slider_label">45</p>
</div>
  <button id="upload-from-url" type="submit" value="Upload" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
